<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.lease.web.app.mapper.FeeValueMapper">


    <select id="listByApartmentId" resultType="com.atguigu.lease.web.app.vo.fee.FeeValueVo">
        select
            fv.id,
            fv.name,
            fv.unit,
            fv.fee_key_id,
            fk.name fee_key_name
        from
            apartment_fee_value afk
        left join
            fee_value fv on afk.fee_value_id = fv.id and fv.is_deleted = 0
        left join
            fee_key fk on fv.fee_key_id = fk.id and fk.is_deleted = 0
        where
            afk.is_deleted = 0 and afk.apartment_id = #{apartmentId}
    </select>
</mapper>
